<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <title>Dashboard</title>
</head>

<body>
    <header>
        <div id="abc">

            {{> header}}

        </div>
    </header>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="wrapper">


        <div class="container">
            <div class="btnsContainer">
                <button id="AddQuestionBtn">Add Question</button>
                <button id="QuestionListBtn">Question List</button>
            </div>
            <div id="addQuestion" class="block addQuestion">
                <div class="AddQuestionWrapper">
                    <form action="/teacher/insert/question" method="post">
                        {{#if insertMessage}}
                        <div class="greenMessage">{{insertMessage}}</div>
                        {{/if}}
                        <h3>INSERT A QUESTION</h3>
                        <div id="message" class="message"></div>

                        <label for="question">Question</label>
                        <input type="text" placeholder="Enter the Question" name="question" class="inputText"
                            id="question">
                        <input type="text" placeholder="Enter the Correct Answer" name="correctAnswer" class="inputText"
                            id="correctAnswer">
                        <div class="nanswersWrapper">
                            <input type="number" placeholder="Number of answers" name="nAnswers" id="nAnswers">

                            <input type="button" id="divBtn" style="position: relative;right:5px;" value="Submit">


                        </div>
                        <select class="inputText" name="test" id="test">
                            {{#each tests}}
                            <option value="{{this.test_index}}">{{this.referance}}</option>
                            {{/each}}
                        </select>
                        <div id="inputAnswers" class="inputAnswers">

                        </div>
                        <button type="submit" style="position: relative;right:5px;">Submit</button>
                    </form>
                </div>
            </div>
            <div id="questionsList" class="block questionsList">
                <div class="questionListWrapper">


                    {{#each allQuestions}}
                    <div class="singleQuestion">
                        <div class="questionHeader">
                            <div class="questionIndex">question index : {{this.questions.question_index}}</div>
                            <div class="removeSymbole"><a href="/teacher/delete/question/{{this.questions.question_index}}"><i
                                        class="far fa-trash-alt"></i></a></div>
                        </div>
                        
                        <div class="body">Question body : {{this.questions.question}}</div>

                        <div class="questionCrrectAnswer">correct answer : {{this.questions.responce}}</div>
                        <div class="dateCreated">Date created : {{this.questions.dateCreated}}</div>

                    </div>

                    {{/each}}


                </div>

            </div>

        </div>

    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/toggle.js"></script>
    <script src="/js/dashboard.js"></script>
</body>

</html>