<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    <link rel="stylesheet" href="/css/manage.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/table.css">


    <title>Home Page</title>
</head>

<body>
    <header>
        <div id="abc">

            {{> header}}

        </div>
    </header>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="wrapper">


        <div class="container">
            <h2>Welcome back teacher : {{username}}</h2>

            <div id="test-list" class="tablecontainer">
                <div class="headerWrapper">
                    <input style="width: 200px;" type="text" class="search inputText" placeholder="filter by name" />
                    <button style="width: 200px;" id="myBtn">Creat Test</button>
                </div>

                <ul class="responsive-table">
                    <li class="table-header">
                        <div class="col col-1">Test Index</div>
                        <div class="col col-2">referance</div>
                        <div class="col col-3">test subject</div>
                        <div class="col col-4">date Created</div>
                        <div class="col col-5">Action</div>
                    </li>
                </ul>
                <ul class="responsive-table list">
                    {{#each allTheTests}}
                    <li class="table-row">
                        <div class="col col-1" data-label="Test Index">{{this.test_index}}</div>
                        <div class="col col-2 name" data-label="referance">{{this.referance}}</div>
                        <div class="col col-3" data-label="test subject">{{this.title}}</div>
                        <div class="col col-4" data-label="date Created">{{this.dateCreated}}</div>
                        <div class="col col-5" data-label="Action">
                            <div class="removeSymbole">
                                <a href="/teacher/delete/test/{{this.test_index}}">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>

                    </li>
                    {{/each}}

                </ul>
                <ul class="pagination"></ul>
            </div>
        </div>
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modalContainer">
                    <div class="AddQuestionWrapper">
                        <form action="/teacher/insert/test" method="post">
                            {{#if insertMessage}}
                            <div class="greenMessage">{{insertMessage}}</div>
                            {{/if}}
                            <h3>INSERT A Test</h3>
                            <div id="message" class="message"></div>

                            <input type="text" placeholder="Enter test referance" name="referance" class="inputText"
                                id="referance">

                            <select class="inputText" name="subject" id="subject">
                                {{#each allSubject}}
                                <option value="{{this.subject_index}}">{{this.title}}</option>
                                {{/each}}
                            </select>
                            <button type="submit" style="position: relative;right:5px;">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <script src="/js/navbar.js"></script>
        <script>
            var monkeyList = new List('test-list', {
                valueNames: ['name'],
                page: 3,
                pagination: true
            });
        </script>
        <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
</body>

</html>